.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-size: larger;
  font-weight: bold;
}

.submit-button {
  padding: 7px 15px;
  background-color: rgb(61, 122, 61);
  color: white;
  border: none;
  cursor: pointer;
}
input {
  padding: 5px 15px;
  border: 2px solid rgb(61, 122, 61);
  margin-top: 24px;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: rgb(169, 230, 176);
  background-image: url("https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.function-div {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 20px;
}
.btns {
  text-align: center;
  padding: 4px 16px;
  border-radius: 5px;
  background-color: rgb(12, 134, 12);
  color: white;
  margin: 3px;
  cursor: pointer;
}
.text {
  font-size: large;
  font-style: italic;
}
